<div class="container mb-5 col-12 justify-content-center rounded">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOnes"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseOne"
        >
          Agregar Vehículos
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseOnes"
        class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne"
      >
        <div class="accordion-body">
          <form action="/admin/registrarVehiculo" method="post">
            <div class="form-row mb-2">
              <div class="form-group">
                <label class="font-weight-bold mb-1"
                  >Modelo<span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  required
                  name="modelo"
                  class="form-control"
                  placeholder="modelo"
                />
              </div>
              <div class="form-group mt-3">
                <label class="font-weight-bold mb-1"
                  >Marca<span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  required
                  name="marca"
                  class="form-control"
                  placeholder="marca"
                />
              </div>
              <div class="form-group mt-3">
                <label class="font-weight-bold mb-1"
                  >numero motor <span class="text-danger">*</span></label
                >
                <input
                  type="number"
                  required
                  name="NumeroMotor"
                  class="form-control"
                  placeholder="numero motor"
                />
              </div>
              <div class="form-group mt-3">
                <label class="font-weight-bold mb-1"
                  >numero chasis <span class="text-danger">*</span></label
                >
                <input
                  type="number"
                  required
                  name="NumeroChasis"
                  class="form-control"
                  placeholder="numero chasis"
                />
              </div>
              <div class="form-group mt-3">
                <label class="font-weight-bold mb-1"
                  >Patente<span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  required
                  name="patente"
                  class="form-control"
                  placeholder="Patente"
                />
              </div>
              <div class="form-group mt-3">
                <label class="font-weight-bold mb-1"
                  >año fabricacion<span class="text-danger">*</span></label
                >
                <input
                  type="date"
                  required
                  name="año_fabricacion"
                  class="form-control"
                  placeholder="año fabricacion"
                />
              </div>
              <div class="form-group mt-3">
                <label class="font-weight-bold mb-1"
                  >estado<span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  required
                  name="estado"
                  class="form-control"
                  placeholder="estado"
                />
              </div>
              <div class="form-group mt-3">
                <label class="font-weight-bold mb-1"
                  >alarma<span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  required
                  name="alarma"
                  class="form-control"
                  placeholder="alarma"
                />
              </div>
              <div class="form-group mt-3">
                <label class="font-weight-bold mb-1"
                  >Kilometraje<span class="text-danger">*</span></label
                >
                <input
                  type="number"
                  required
                  name="kilometraje"
                  class="form-control"
                  placeholder="Kilometraje"
                />
              </div>
              <div class="form-group mt-3">
                <select
                  class="form-select"
                  aria-label="Default select example"
                  name="tipoVehiculo"
                >
                  <option selected>Seleccione que tipo de vehículo es</option>
                  <option value="1">Camioneta</option>
                  <option value="2">Camión</option>
                  <option value="3">Moto</option>
                  <option value="4">Auto</option>
                </select>
              </div>

              <button type="submit" class="btn btn-primary col-5 col-md-2 mt-4">
                Registrar vehículo
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
