<!--Gráficos-->

<h4 class="text-center mb-3 flex-wrap">Estadísticas</h4>

<img
  class="container d-flex justify-content-center col-10 col-md-4"
  src="/images/EjemploGrafico.jpg"
/>

<!--Fin Gráficos-->
