{{#viajeEnCurso}}
<div class="container mb-5 col-12 justify-content-center rounded">
  <h3 class="text-center mb-3">Punto de Control</h3>

  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#puntoDeControl"
          aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Punto de Control
        </button>
      </h2>
      <div id="puntoDeControl" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">

          <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">

                  <form action="chofer/recargaCombustible" method="post">
                    <h5 class="card-title">Nueva recarga de Combustible</h5>
                    <div class="card-text">
                      <label class="font-weight-bold mb-1">Cantidad de Combustible<span
                          class="text-danger">*</span></label>
                      <input type="number" required name="combustible_real" class="form-control"
                        placeholder="Cantidad de Combustible" />
                    </div>
                    <br>
                    <div class="card-text"><label class="font-weight-bold mb-1">Precio de Combustible<span
                          class="text-danger">*</span></label>
                      <input type="number" required name="precioCombustible_real" class="form-control"
                        placeholder="Precio de Combustible" />
                    </div>
                    <br>
                    <input type="hidden" required name="id_viaje" value="{{id}}" class="form-control" />
                    <button type="submit" class="btn btn-primary ">Registrar nueva recarga</button>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <form action="chofer/gastoPeajeYExtra" method="post">
                    <h5 class="card-title">Nueva Pago De Peaje/Extras</h5>

                    <div class="card-text"><label class="font-weight-bold mb-1">Precio de Peaje<span
                          class="text-danger">*</span></label>
                      <input type="number" name="precioPeajes_actual" class="form-control"
                        placeholder="Precio de Peaje" />
                    </div>
                    <br>
                    <div class="card-text"><label class="font-weight-bold mb-1">Gastos Extra<span
                          class="text-danger">*</span></label>

                      <input type="number" name="precioExtras_actual" class="form-control" placeholder="Gastos Extra" />
                    </div>
                    <br>
                    <div class="card-text"><label class="font-weight-bold mb-1">Viaticos<span
                          class="text-danger">*</span></label>

                      <input type="number" name="precioViaticos_actual" class="form-control" placeholder="Viaticos" />
                    </div>
                    <br>
                    <input type="hidden" required name="id_viaje" value="{{id}}" class="form-control" />
                    <button type="submit" class="btn btn-primary ">Registrar Gastos</button>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <form action="chofer/informarPosicion" method="post">
                    <h5 class="card-title">Informar Posicion</h5>

                    <div class="card-text">
                      <label class="font-weight-bold mb-1">Latitud<span class="text-danger">*</span></label>
                      <input type="number" required name="latitud_actual" class="form-control"
                        placeholder="Cantidad de Combustible" />
                    </div>

                    <br>

                    <div class="card-text">
                      <label class="font-weight-bold mb-1">Longitud<span class="text-danger">*</span></label>
                      <input type="number" step="any" name="longitud_actual" class="form-control" placeholder="Longitud"
                        id="longitud" />
                    </div>

                    <br>
                    <div id="mapa" style="width:310px; height:100px;"></div>
                    <input type="hidden" required name="id_viaje" value="{{id}}" class="form-control" />
                    <button type="submit" class="btn btn-primary ">Mandar posicion</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{{/viajeEnCurso}}