<div class="container col-12 justify-content-center rounded">

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#acordeonTodosLosVehiculosViajes" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">Vehiculos en Viaje
                </button>
            </h2>
            <div id="acordeonTodosLosVehiculosViajes" class="accordion-collapse collapse show"
                 aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">

                    <!--Container Vehiculos-->

                    <table class="table table-dark table-striped">
                        <thead>
                        <tr>
                            <th scope="col">patente</th>
                            <th scope="col">marca</th>
                            <th scope="col">modelo</th>
                            <th scope="col">numero_motor</th>
                            <th scope="col">año_Fabricacion</th>
                            <th scope="col"></th>

                        </tr>
                        </thead>
                        <tbody>

                        {{#vehiculosEnViaje}}
                            <tr>
                                <td>{{patente}}</td>
                                <td>{{marca}}</td>
                                <td>{{modelo}}</td>
                                <td>{{numero_motor}}</td>
                                <td>{{año_Fabricacion}}</td>

                                <td>
                                    <form
                                            action="/mecanico/irAInformarPosicion"
                                            method="post"
                                            class="card-link text-decoration-none d-inline-block"
                                    >
                                        <input
                                                type="hidden"
                                                name="idVehiculo"
                                                value="{{ id }}"
                                        />
                                        <button type="submit" class="btn btn-primary ms-1">
                                            ver posicion
                                        </button>
                                    </form>

                                </td>
                            </tr>              
                        {{/vehiculosEnViaje}}

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
