{{#viajeEnCurso}}
<div class="container mb-5 col-12 justify-content-center rounded">
    <h3 class="text-center mb-3">Empezar Viaje</h3>
  
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne"
          >
           Informacion del Viaje por empezar (anda a laburar)
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="panelsStayOpen-headingOne"
        >
          <div class="accordion-body">
            <form action="/chofer/empezarViaje" method="post">
                
              <div class="form-row mb-2">
                <div class="d-flex flex-wrap justify-content-center form-group">
                  <div class="me-3 mt-3 col-lg-2">
                    <label class="font-weight-bold mb-1"
                      >Ciudad origen<span class="text-danger">*</span></label
                    >
                    <p
                      class="form-control"
                    > {{ciudad_origen}}
                    </p>
                    
                  </div>
                  <div class="me-3 mt-3 col-lg-2">
                    <label class="font-weight-bold mb-1"
                      >Ciudad destino<span class="text-danger">*</span></label
                    >
                    <p
                    class="form-control"
                  > {{ciudad_destino}}
                  </p>
                  </div>
                  <div class="me-3 mt-3 col-lg-2">
                    <label class="font-weight-bold mb-1"
                      >Fecha de inicio estipulada<span class="text-danger">*</span></label
                    >
                    <p
                      class="form-control"
                    > {{fecha_inicio}}
                    </p>
                  </div>

                  <div class="me-3 mt-3 col-lg-2">
                    <label class="font-weight-bold mb-1"
                      >Fecha de fin estipulada<span class="text-danger">*</span></label
                    >
                    <p
                      class="form-control"
                    > {{fecha_fin}}
                    </p>
                  </div>

                  <div class="me-3 mt-3 col-lg-2">
                    <label class="font-weight-bold mb-1"
                      >Tiempo estimado<span class="text-danger">*</span></label
                    >
                    <p
                      class="form-control"
                    > {{tiempo_estimado}}
                    </p>
                  </div>

  
                  <div class="me-3 mt-3 col-lg-2">
                    <label class="font-weight-bold mb-1"
                      >Tipo carga<span class="text-danger">*</span></label
                    >
                    <p
                      class="form-control"
                    > {{descripcion_carga}}
                    </p>
                  </div>


                  <div class="me-3 mt-3 col-lg-2">
                    <label class="font-weight-bold mb-1"
                      >Kilometros previstos<span class="text-danger"
                        >*</span
                      ></label
                    >
                    <p
                      class="form-control"
                    > {{km_previsto}}
                    </p>
                  </div>



                  <div class="me-3 mt-3 col-lg-2">
                    <label class="font-weight-bold mb-1"
                      >Combustible estimado<span class="text-danger"
                        >*</span
                      ></label
                    >
                    <p
                      class="form-control"
                    > {{combustible_estimado}}
                    </p>
                  </div>
  
                  <div class="me-3 mt-3 col-lg-2">
                    <label class="font-weight-bold mb-1"
                      >Vehiculo<span class="text-danger">*</span></label
                    >
                    <p
                      class="form-control"
                    > {{tipo_vehiculo}}
                    </p>
                  </div>
  
  
                  <div class="me-3 mt-3 col-lg-2">
                    <label class="font-weight-bold mb-1"
                      >Latitud<span class="text-danger">*</span></label
                    >
                    <input
                      type="number"
                      step="any"
                      name="latitud_inicio"
                      class="form-control"
                      placeholder="latitud"
                      id="latitud_inicio"
                     
                      
                    />
                  </div>


  
                  <div class="me-3 mt-3 col-lg-2">
                    <label class="font-weight-bold mb-1"
                      >Longitud<span class="text-danger">*</span></label
                    >
                    <input
                      type="number"
                      step="any"
                      name="longitud_inicio"
                      class="form-control"
                      placeholder="Longitud"
                      id="longitud_inicio"            
                    />
                  </div>


                <input type="hidden" name="id_viaje" value="{{id}}">


                </div>
              </div>
              <button type="submit" class="btn btn-primary col-5 col-md-2 mt-4">
                Empezar viaje
              </button>
              
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/viajeEnCurso}}
