<!--Vehiculos-->
<div class="container col-12 justify-content-center rounded">

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#acordeonTodosLosViajes" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">Registro de viajes terminados
                </button>
            </h2>
            <div id="acordeonTodosLosViajes" class="accordion-collapse collapse show"
                 aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">

                    <!--Container Vehiculos-->
                    {{#viajesTerminados}}
                        <table class="table table-dark table-striped">
                            <thead>
                            <tr>
                                <th scope="col-1">Id</th>
                                <th scope="col-2">Km estimado</th>
                                <th scope="col-1">Lt combustible estimado</th>
                                <th scope="col-2">$ combustible estimado</th>
                                <th scope="col-1">Viaticos estimado</th>
                                <th scope="col-1">Peajes estimado</th>
                                <th scope="col-2">Total estimado</th>


                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>{{id}}</td>
                                <td>{{km_previsto}}</td>
                                <td>{{combustible_estimado}}</td>
                                <td>{{costoTotalCombustible_estimado}}</td>
                                <td>{{precioViaticos_estimado}}</td>
                                <td>{{precioPeajes_estimado}}</td>
                                <td>{{precioTotal_estimado}}</td>
                                </td>
                            </tr>

                            <thead>
                            <tr>
                                <th scope="col-1">Id</th>
                                <th scope="col-2">Km reales</th>
                                <th scope="col-1">Lt combustible real</th>
                                <th scope="col-2">$ combustible real</th>
                                <th scope="col-1">Viaticos real</th>
                                <th scope="col-1">Peajes real</th>
                                <th scope="col-2">Total real</th>

                            </tr>
                            </thead>
                            <tbody>
                            {{#viajesTerminados}}
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{km_reales}}</td>
                                    <td>{{combustible_real}}</td>
                                    <td>{{costoTotalCombustible_real}}</td>
                                    <td>{{precioViaticos_Real}}</td>
                                    <td>{{precioPeajes_Real}}</td>
                                    <td>{{precioTotal_real}}</td>
                                    </td>
                                </tr>
                            {{/viajesTerminados}}
                            </tbody>
                            </tbody>
                        </table>



                    {{/viajesTerminados}}
                    <!--Fin Container Vehiculos-->
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<!--Fin Vehiculos-->
</div>