{{> header}}
{{>navbar}}
<body class="bg-light" onload="loadMap()">
<!--Div container-->
<div class="container-fluid mt-5 d-flex flex-column mb-5">
    {{>viajeEnCurso}}
    {{>puntoDeControlChofer}}
    {{>historialPuntoDeControl}}
    <!--Fin Div container-->
</div>

<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"
></script>
<script type="text/javascript" src="view/js/mapa.js"></script>
</body>