{{> header}}
{{>navbar}}
<body class="bg-light">
<!--Vehiculos-->
<div class="container mt-5 col-12 justify-content-center rounded">

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#acordeonTodosLosVehiculos" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    Todos mis Vehiculos
                </button>
            </h2>
            <div id="acordeonTodosLosVehiculos" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">

                    <!--Container Vehiculos-->


                    <table class="table table-dark table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Patente</th>
                            <th scope="col">Número de chasis</th>
                            <th scope="col">Número de motor</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Kilometraje</th>
                            <th scope="col">Estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#todosLosVehiculos}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{patente}}</td>
                                <td>{{numero_chasis}}</td>
                                <td>{{numero_motor}}</td>
                                <td>{{marca}}</td>
                                <td>{{modelo}}</td>
                                <td>{{kilometraje}}</td>
                                <td>{{estado}}</td>
                            </tr>
                        {{/todosLosVehiculos}}
                        </tbody>
                    </table>


                    {{#urlRegistrarVehiculo}}
                        <a class="btn btn-primary mt-3" href="{{urlRegistrarVehiculo}}" role="button">Registrar un vehiculo</a>
                    {{/urlRegistrarVehiculo}}
                    <!--Fin Container Vehiculos-->


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Fin Vehiculos-->
</div>

<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"
></script>
</body>